<head>
    <div>
        <h1>Tiny App</h1>
        <a href="/urls/new">Create New TinyURL</a>
    </div>

    <% if(user){ %>
        <!-- Show logged in user & logout button-->
        <form class="form-inline" action="/logout" method="POST">
        <div class="form-group mb-2">
            <label for="logout-button"><%=user.email%></label>
            <button type="submit" name="logout-button" class="btn btn-danger">Logout</button>
        </div>
        </form>


    <% } else{ %>

        <!-- Show loggin input (email) & login button -->
        <form class="form-inline" action="/login_link" method="POST">
        <div class="form-group mb-2">
            <button type="submit" class="btn btn-primary">Login</button>
        </div>
        </form>

        <a href='/register'> Register for an Account</a>

    <% } %>


</head>

